# dev / garbage
.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

node_modules/**
tests/**
.git/**
*.log

**/*.ts
**/*.map
**/.git/**
**/.vscode/**
**/src/**
**/test/**
**/node_modules/**

!client/node_modules/**
!client/out/**
!server/out/**
!server/node_modules/**
!syntaxes/**
!snippets/**
!language-configuration.json
